
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Track Error Page Responsive Widget Template :: W3layouts</title>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- //Meta tags -->
    <link rel="stylesheet" href="~/web3/css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
    <link href="~/web3/css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>

<body>
    <!-- content -->
    <section class="w3l-error-block">
        <div class="mainw3 form">
            <div class="subscribe wrapper">
                <div class="subscribe-w3lsbottom text-center">
                    <div class="w3l-page">
                        Oops!
                    </div>
                    <h6>Görünüşe Göre Kayıp Olduğunuz Sakın Korkmayın Aşağıdaki Butona Basarak Anasayfaya Gidebilirsiniz :)</h6>
                    <h2>
                        404
                        <p class="page-mk">page not found</p>
                    </h2>
                    
                    <a class="theme-button btn" href="/Movie/Index">
                        Back to Home
                    </a>
                </div>
                <!-- copyright -->
                
                <!-- //copyright -->
            </div>
        </div>
        <!-- //content -->
   

        <!-- /popup -->
       

        <!-- /popup -->
    </section>

</body>
</html>